.home {
    text-align: center;
    margin-top: 2em;
}

.home-title {
    font-size: 2em;
}

.sec-home-title {
    font-size: 1.5em;
}

.services-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-services h1 {
    font: 1.5em;
}

.home-service-card {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.home-service-card p {
    text-align: start;
    color: gray;
}

.home-service-card img {
    width: 100px;
    height: 100px;
}