.mail-filter {
    padding: 15px;
    margin: 10px;
    border-radius: 25px;
    box-sizing: border-box;
    font-weight: bolder;
    background-color: rgba(240, 240, 240, 0.78)
    
}

.search-container {
    display: grid;
    width: 500px;
}

#subject{
    background-color: inherit;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: white;
    height: 50px
}