
.li-preview {
    background-color: rgb(211, 204, 195);
    height: 45px;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    cursor: pointer;
    color: rgb(130, 129, 129);
    font-family: sans-serif;
    list-style: none;
  
}

.li-preview:hover {
background-color: rgb(216, 222, 228);

}

.link-edit{
    border-radius: 25px;
  background-color: rgb(153, 103, 103);
}


.remove-button{
    background-color:lightcoral ;
    margin-left: 1600px;
}

