.note-index {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note-aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.note-aside button {
    background-color: rgb(255, 255, 255);
    border: none;
    text-align: start;
    cursor: pointer;
    box-shadow: 0 1px 3px rgb(165, 165, 165);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


.note-aside button:hover {
    background-color: gray;
}

.note-aside button:focus {
    background-color: #feefc3;
    cursor: default
}




@media (min-width:500px) {
    .note-index {
        display: grid;
        gap: 2em;
        grid-template-columns: 225px 1fr;
        grid-template-areas:
            "aside main-content";
    }

    .main-content {
        grid-area: main-content;
    }

    .aside {
        grid-area: aside;
    }

    .note-aside {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 300px;
        padding: 30px 0;
    }

    .note-aside button {
        min-width: 259px;
        max-width: 259px;
        height: 70px;
        padding-left: 80px;
        font-size: 30px;
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px;
        text-align: start;
        cursor: pointer;
        box-shadow: 0 1px 3px rgb(165, 165, 165);

    }

}