.note-preview {
    background-color: lightblue;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    border-radius: 1em;
    padding: 25px;
}

.note-preview img {
    width: 150px;
    height: 150px;
}

.unread-mode {

    display: flex;
}