.note-preview {
    background: #ffffff;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgb(175 175 175);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;

}

.note-preview h1,
pre {
    margin-bottom: 6px;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.note-preview pre {
    width: 300px;
    height: 100px;
    white-space: pre-wrap;
    word-wrap: break-word;

}

.note-preview p {
    position: relative;
    float: right;
    color: #f88651;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

.note-preview button {
    position: relative;
    color: #222;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    opacity: 0;
    font-weight: bold;
}



.note-preview:hover button {
    opacity: 1;
}

.preview-btns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: bold;
}



.note-video ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.note-img img {
    height: 150px;
}

.done {
    text-decoration: line-through;

}

.note-preview .fa-solid {
    font-size: 1.3em;
}

.note-preview .fa-solid:hover {
    color: gray;
}