.user-msg {
    padding: 1em;
    border-radius: 1em;
    position: fixed;
    top: 1em;
    right: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12%;
    box-shadow: 0 1px 3px rgb(165, 165, 165);

    /* border-radius: 2em; */
}

.user-msg button {
    border: none;
    color: #fff;
    background-color: inherit;
}

.user-msg.success {
    background-color: rgb(0, 0, 0);
    color: #fff;

}

.user-msg.error {
    background-color: lightpink;
}


@media (max-width:500px) {
    .user-msg {
        width: 40vw;
    }
}